extends ../layout.pug

block head
    link(rel="stylesheet", href="/ltr/assets/css/forms/theme-checkbox-radio.css")
    link(rel="stylesheet", href="/ltr/assets/css/tables/table-basic.css")


block layout-body
    .card.component-card_1
        .card-body
            .table-responsive
            table.table.table-bordered.table-hover.table-striped.table-checkable.table-highlight-head.mb-4
                thead
                    tr
                        th.checkbox-column
                            .custom-control.custom-checkbox.checkbox-primary
                                input#todoAll.custom-control-input.todochkbox(type='checkbox')
                                label.custom-control-label(for='todoAll')
                        th Module Name
                        th Install
                        th Activate
                tbody
                    tr
                        td.checkbox-column
                            .custom-control.custom-checkbox.checkbox-primary
                                input#todo-1.custom-control-input.todochkbox(type='checkbox')
                                label.custom-control-label(for='todo-1')
                        td
                            p.mb-0 Shaun Park
                        td installed
                        td.text-center
                            a(href='javascript:void(0);', data-toggle='tooltip', data-placement='top', title='', data-original-title='Click to Disable')
                                svg.feather.feather-check-circle.text-primary(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                                    path(d='M22 11.08V12a10 10 0 1 1-5.93-9.14')
                                    polyline(points='22 4 12 14.01 9 11.01')
                    tr
                        td.checkbox-column
                            .custom-control.custom-checkbox.checkbox-primary
                                input#todo-1.custom-control-input.todochkbox(type='checkbox')
                                label.custom-control-label(for='todo-1')
                        td
                            p.mb-0 Shaun Park
                        td.text-center 
                            button.btn.btn-outline-primary Install
                        td.text-center
                            a(href='javascript:void(0);', data-toggle='tooltip', data-placement='top', title='', data-original-title='Click to Enable')
                                svg.feather.feather-x-circle.text-danger(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                                    circle(cx='12', cy='12', r='10')
                                    line(x1='15', y1='9', x2='9', y2='15')
                                    line(x1='9', y1='9', x2='15', y2='15')


block script1
    script.
        checkall('todoAll', 'todochkbox');
        $('[data-toggle="tooltip"]').tooltip()